@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");
.bg-pride {
  background: linear-gradient(90deg, #FE0000 16.66%, #FD8C00 16.66%, 33.32%, #FFE500 33.32%, 49.98%, #119F0B 49.98%, 66.64%, #0644B3 66.64%, 83.3%, #C22EDC 83.3%) !important; }

.footer {
  text-decoration: none;
  font-weight: bolder; }
  .footer__white {
    color: #fff;
    transition: all .2s ease-in-out; }
  .footer:hover {
    transform: scale(1.3);
    color: #0c0c0c; }

/* ANIMATION */
.modal__yellow {
  background: #FFE500; }

.no-underline {
  text-decoration: none; }

.fancy-text {
  font-weight: lighter;
  color: #fff;
  font-size: 4rem; }

a.fancy-text-2 {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: medium;
  color: #0c0c0c;
  letter-spacing: 5px;
  transition: all 0.3s ease-in-out; }
  a.fancy-text-2:hover {
    font-size: large;
    letter-spacing: 8px;
    text-decoration: overline; }

p {
  font-size: 1rem;
  font-family: "Poppins", monospace; }

/* TEXT CLASSES AND DECORATION */
.font-family-primary {
  font-family: "Open Sans", sans-serif; }

.font-family-secondary {
  font-family: "Poppins", monospace; }

.rainbow {
  background-image: linear-gradient(to right, #FE0000, #FD8C00, #FFE500, #119F0B, #0644B3, #C22EDC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  letter-spacing: 2.5px;
  font-size: larger; }
  .rainbow-big {
    font-size: 1.7rem;
    font-weight: 350; }

@media only screen and (min-width: 320px) {
  .about {
    display: block; }
    .about .side-left {
      width: 100%;
      padding-bottom: 30px; }
    .about .side-right {
      width: 100%; } }

@media only screen and (min-width: 768px) {
  .about {
    display: block; }
    .about .side-left {
      width: 100%;
      padding-bottom: 30px; }
    .about .side-right {
      width: 100%; } }

@media only screen and (min-width: 1024px) {
  .about {
    display: flex; }
    .about .side-left {
      width: 40%; }
    .about .side-right {
      width: 60%;
      padding-left: 40px; } }

button.nav-link {
  color: #119F0B; }

.side__shadow {
  padding: 10px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px; }
  .side__shadow__text {
    letter-spacing: 1.5px;
    font-weight: 400; }
    .side__shadow__text-rainbow {
      background-image: linear-gradient(to right, #FE0000, #FD8C00, #FFE500, #119F0B, #0644B3, #C22EDC);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bolder;
      letter-spacing: 2.5px;
      font-size: larger; }

.contact {
  position: center;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase; }
  .contact__letter {
    font-weight: 500;
    color: #222222;
    text-transform: none; }

.sectionContact {
  padding-bottom: 175px; }

.sheet {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: 0px; }
  .sheet__img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    margin-right: 0;
    width: 100%; }
  .sheet__body {
    flex: 1 1 auto;
    padding: 1rem 1rem; }
  .sheet__text {
    margin-bottom: 0; }
    .sheet__text-fancy {
      text-decoration: none;
      font-family: "Open Sans", sans-serif;
      font-weight: medium;
      color: #0c0c0c;
      letter-spacing: 15px;
      transition: all 0.3s ease-in-out; }
      .sheet__text-fancy:hover {
        color: #FE0000;
        font-weight: 700;
        text-decoration: line-through; }

@media (max-width: 1024px) {
  .sheet__img-top {
    width: 50%; } }

.sticky {
  position: sticky;
  top: 0;
  z-index: 1020; }

.carousel-img__size {
  width: 100%;
  height: 50%; }

.text {
  font-weight: bold; }
  .text-rainbow {
    font-weight: bolder;
    background-image: linear-gradient(to right, #FE0000, #FD8C00, #FFE500, #119F0B, #0644B3, #C22EDC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .text-underline {
    text-decoration: underline; }

.section {
  padding: 100px 0; }

.container {
  padding: 0 30px; }

.row {
  margin-bottom: -30px; }

.bg-black {
  background-color: black; }

.noFound {
  padding: 12px 0; }

.w-35 {
  width: 35% !important; }

@media only screen and (min-width: 320px) {
  .w-35 {
    width: 100px !important; } }

@media only screen and (min-width: 768px) {
  .w-35 {
    width: 35% !important; } }

.bgPages {
  position: top;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat; }
  .bgPages__contact {
    background-image: url("../img/contact.jpg"); }
  .bgPages__404 {
    background-image: url("../img/404.jpg"); }
  .bgPages__about {
    background-image: url("../img/us.jpg"); }
  .bgPages__music {
    background-image: url("../img/music.jpg"); }
  .bgPages__gallery {
    background-image: url("../img/gallery.jpg"); }

.gallery-wrapper {
  margin: 0; }
  .gallery-wrapper .gallery-box .gallery-img {
    position: relative;
    overflow: hidden; }
    .gallery-wrapper .gallery-box .gallery-img a {
      display: block; }
      .gallery-wrapper .gallery-box .gallery-img a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 1;
        -webkit-transition: ease-out 0.12s;
        transition: ease-out 0.12s; }
      .gallery-wrapper .gallery-box .gallery-img a img {
        -webkit-transform: scale(1);
        transform: scale(1);
        width: 100%;
        margin: 15px 10px;
        -webkit-transition: transform 0.4s cubic-bezier(0.16, 0.84, 0.44, 1);
        transition: transform 0.4s cubic-bezier(0.16, 0.84, 0.44, 1); }
      .gallery-wrapper .gallery-box .gallery-img a:hover::before {
        opacity: 0.2; }
      .gallery-wrapper .gallery-box .gallery-img a:hover img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }

.sectionMusic {
  padding-bottom: 122.6px; }

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0; }
  .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #FE0000;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px; }

.song {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%; }
  .song::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -8px;
    background: #fff;
    border: 2px solid #FE0000;
    border-radius: 16px;
    z-index: 1;
    box-sizing: border-box; }
  .song::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    top: calc(50% - 1px);
    right: 8px;
    background: #FE0000;
    z-index: 1; }
  .song.left {
    left: 0; }
  .song.right {
    left: 50%; }
    .song.right::after {
      left: -8px; }
    .song.right::before {
      left: 8px; }

.date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #FE0000;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1; }
  .date__left {
    right: -75px; }
  .date__right {
    left: -75px; }

.content {
  padding: 30px;
  position: relative; }
  .content__right {
    padding: 30px; }

@media (max-width: 767.98px) {
  .timeline::after {
    left: 45px; }
  .song {
    width: 100%;
    padding-left: 70px;
    padding-right: 0px; }
  .song.right {
    left: 0%; }
  .song.left::after,
  .song.right::after {
    left: 38px; }
  .song.left::before,
  .song.right::before {
    left: 50px;
    width: 20px; }
  .song.left .date,
  .song.right .date {
    right: auto;
    left: 0px; }
  .song.left .content,
  .song.right .content {
    padding: 0px; } }
