//SECTION
.section {
  padding: 100px 0;
}

//CONTAINEER
.container{
  padding: 0 30px;
}

// ROW
.row {
  margin-bottom: -30px;
}

// background colors
.bg-black {
  background-color: black;
}

// 404
.noFound {
  padding: 49.5px 0;
}