// TEXT 
.no-underline {
  @include t-none;
}

.fancy-text {
  font-weight: lighter;
  color: $color-white;
  font-size: 4rem;
}

a.fancy-text-2 {
  @include t-none;
  font-family: $font-family-1;
  font-weight: medium;
  color: $color-black;
  letter-spacing: 5px;
  transition: all 0.3s ease-in-out;

  &:hover {
    font-size: large;
    letter-spacing: 8px;
    text-decoration: overline;
  }
}

p {
  font-size: $font-size;
  font-family: $font-family-2;
  letter-spacing: 1px;
}

/* TEXT CLASSES AND DECORATION */

.font-family-primary {
  font-family: $font-family-1;
}

.font-family-secondary {
  font-family: $font-family-2;
}

// Rainbow text
.rainbow {
  background-image: linear-gradient(to right, 
  $color-red,
  $color-orange,
  $color-yellow,
  $color-green,
  $color-blue,
  $color-purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  letter-spacing: 2.5px;
  font-size: larger;
  &-big {
    font-size: 1.7rem;
    font-weight: 350;
  }
}