// Rainbow colors
$color-red: #FE0000;
$color-orange: #FD8C00;
$color-yellow: #FFE500;
$color-green: #119F0B;
$color-blue: #0644B3;
$color-purple: #C22EDC;
$color-white: #fff;
$color-white-700: rgba(255, 255, 255, 0.700);
$color-black: rgb(12, 12, 12);

// Font family
$font-family-1: "Open Sans", sans-serif;
$font-family-2: "Poppins", monospace;
$font-size: 1rem;


