@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

body {
  color: rgb(14, 14, 14);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 300;
  margin: -8px;
}

@media only screen and (min-width: 320px)  {
  body {
    font-size: 14px;
    font-weight: 200;
  } 
}

@media only screen and (min-width: 768px)  {
  body {
    font-size: 14px;
    font-weight: 200;
  } 
}

@media only screen and (min-width: 1024px) {
  body {
    font-size: 16px;
    font-weight: 300;
  } 
}

div.right {
  float: right;
}
/* TEXT */

h1, h2, h3, h4, h5, h6 {
  color: rgb(55, 53, 53);
  margin: 0 0 8px;
  letter-spacing: 0px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.5;
}

h2 {
  font-size: 2.1rem;
  line-height: 1.6;
}

h3 {
  font-size: 1.8rem;
  line-height: 1.65;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.7;
}

h5 {
  font-size: 1.3rem;
  line-height: 1.8;
}

h6 {
  font-size: 1.05rem;
  line-height: 1.9;
}

p {
  color: rgb(24, 24, 24);  
  margin: 0;
  line-height: 2;
}

.fancy-text {
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.795);
  font-size: 4rem;
}
/* TEXT CLASSES AND DECORATION */

.font-family-primary {
 font-family: "Open Sans", sans-serif;
}

.font-family-secondary {
  font-family: "Poppins", sans-serif;
}

.text-yellow {
  color: #e9df54;
}

.text-green {
  color: rgb(3, 116, 3);
}

.text-white {
  color: white;
}

.text-decoration-overline {
  text-decoration: overline;
}

.text-decoration-line-through {
  text-decoration: line-through;
}

.text-decoration-underline {
  text-decoration: underline;
}

.text-decoration-bold {
  font-weight: 700;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center !important;
}

/* TABLE */

.table-img {
  position: relative;
}

.table-img img {
  transform: scale(1);
  width: 80%;

}

table {
  border: 3px solid;
  color: rgb(90, 12, 12);
  border-radius: 4px;
}

tr,td {
  border: 2px solid;
  border-radius: 5px;
  color: rgb(129, 44, 44);
}

input, textarea {
  background: transparent;
  width: 100%;
  border: 1px solid rgb(20, 20, 20);
  margin-bottom: 1rem;
  padding: 10px 15px;
  font: 300 16px "Open Sans",sans-serif;
  border-radius: 3px;
}

textarea {
  height: 120px;
}

iframe {
  width: 100%;
  border: 0;
}

@media only screen and (min-width: 320px)  {
  iframe {
    width: 100%;
    border: 0;
    justify-content: center; 
  }
}

@media only screen and (min-width: 768px) {
  iframe {
    width: 100%;
    border: 0;
    justify-content: center; 
  }
}

@media only screen and (min-width: 1024px) {
  iframe {
    width: 100%;
    border: 0;
  }
}

ul {
  margin: 0 0 -7px;
}

ul li {
  margin: 0 0 7px;
}

ul li ul, ul li ol {
  margin-top: 7px;
}

/* HEADER */

.header {
  z-index: 999;
  top: 0;
  overflow: visible;
  width: 100%;
  height: 80px;
  transition: ease-in-out 0.3s;
}

.header .container, .header .container-fluid {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  height: 100%;
  justify-content: center;
  justify-content: space-around;
} 

.header .header-logo {
  display: inline-block;
}

.header .header-logo h1, .header .header-logo h2, .header .header-logo h3, .header .header-logo h4, .header .header-logo h5, .header .header-logo h6 {
  margin: 0;
}

.header .header-logo img {
  width: auto;
  height: 55px;
  max-height: 55px;
}

.header .header-logo a {
  color: rgb(248, 248, 248);
  text-decoration: none;
  font-size: 30px;  
  font-weight: 600;
}

.header .header-logo a:hover{
  color: rgb(248, 248, 248);
}

.header .header-menu {
  display: inline-block;
  font-size: 15px;
  z-index: 999;
}

.header .header-menu .nav {
  list-style: none;
}

.header .header-menu .nav-item .nav-link {
  text-decoration: none;
  color: rgb(248, 248, 248);
  font-size: 14px;
  letter-spacing: -0.2px;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.header .header-menu .nav .nav-item .nav-link:hover {
  color: #e9df54;
}

.header .header-menu .nav .nav-item .nav-link:active {
  color: beige;
}

.header .header-menu .nav .nav-item {
  display: inline-block;
  height: 100%;
  position: relative;
  margin: 0 0 0 20px;
}

.header .header-menu .nav .nav-item .nav-dropdown {
  position: absolute;
  display: none;
  background: rgba(226, 226, 226, 0.788);
  padding: 16px;
}

.header .header-menu .nav .nav-item .nav-dropdown .nav-dropdown-item {
  display: block;
  width: 100%;
  border: none;
  z-index: 1000;
  font-weight: 500;
}

.header .header-menu .nav .nav-item:hover .nav-dropdown {
  display: block;
}

.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 30px rgba(44, 44, 44, 0.582);
}

.header.black {
  background: rgb(19, 18, 18);
}

div.right {
  float: right;
}

/* IMAGE */

img {
  width: 100%;
  height: auto;
}

div img {
  width: 50%;
  height: auto;
}

.gradient-top {
  background: linear-gradient(to top, rgba(233, 233, 233, 0.74),rgba(27, 27, 27, 0.767));
} 

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* SECTION */

.section {
  padding: 100px 0;
}

.section-fullscreen {
  background-image: url("../img/badband.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
}

div.section-sticky {
  position: sticky;
  top: 0;
}

/* CONTAINEER */

.container, .container-fluid {
  position: relative;
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;
}

/* ROW */

.row {
  margin-bottom: -30px;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.align-items-center {
  align-items: center !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.flex {
  display: flex;
}

@media only screen and (min-width: 320px)  {
  .flex {
    display: inline-block;
  }
}

@media only screen and (min-width: 768px) {
  .flex {
    display: inline-block;
  }
}

@media only screen and (min-width: 1024px) {
  .flex {
    display: flex;
  }
}

/* DIVISOR */

/* .fancyPride {
  background: linear-gradient(90deg, red, orange, yellow, green, blue,purple);
  height: 5px;
} */

/* FOOTER */

footer {
  padding-top: 10px;
  bottom: 0;
  width: 100%;
}

footer .row {
  justify-content: space-between;
}

footer p {
  font-size: 16px;
  letter-spacing: -0.2px;
  margin: 0 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: black;
}

ul.list-inline {
  margin: 5px auto;
}

ul.list-inline li {
  display: inline-block;
  padding: 0 8px;
}

.bg-pride {
	background: linear-gradient(90deg,
    #FE0000 16.66%,
		#FD8C00 16.66%, 33.32%,
		#FFE500 33.32%, 49.98%,
		#119F0B 49.98%, 66.64%,
		#0644B3 66.64%, 83.3%,
		#C22EDC 83.3%) !important;
}

.bg-pride-gradient {
	background: linear-gradient(to right,
    red,
    orange,
		yellow,
		green,
		blue,
		purple) !important;
}

.list-inline a {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.list-inline a:hover {
  color: black;
  font-size: medium;
}

div.leftPosition {
  width: auto;
  float: left;
  padding: 0px;
}

div.rightPosition {
  width: auto;
  float: right;
  padding: 0px;
}

.positionMiddle {
  position: relative;
  top: 50%;
}

@media only screen and (min-width: 320px) {

  footer p {
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  }

  footer .row {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {

  footer p {
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  }

  footer .row {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1024px) {
  
  footer p {
  font-size: 16px;
  margin: 0 40px;
  }

  footer .row {
    display: flex;
  }
}

/* MARGIN */

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-right-30 {
  margin-right: 30px;
}

.margin-right-40 {
  margin-right: 40px;
}

.margin-right-50 {
  margin-right: 50px;
}

.margin-right-60 {
  margin-right: 60px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-left-30 {
  margin-left: 30px;
}

.margin-left-40 {
  margin-left: 40px;
}

.margin-left-50 {
  margin-left: 50px;
}

.margin-left-60 {
  margin-left: 60px;
}

/* PADDING */

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-top-60 {
  padding-top: 60px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-right-30 {
  padding-right: 30px;
}

.padding-right-40 {
  padding-right: 40px;
}

.padding-right-50 {
  padding-right: 50px;
}

.padding-right-60 {
  padding-right: 60px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.padding-bottom-60 {
  padding-bottom: 60px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-left-30 {
  padding-left: 30px;
}

.padding-left-40 {
  padding-left: 40px;
}

.padding-left-50 {
  padding-left: 50px;
}

.padding-left-60 {
  padding-left: 60px;
}

/* FLEX */

.flexContainer {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  align-items: flex-start;
}

#contact {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px;
}

@media only screen and (min-width: 320px) {
  #contact {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
  }
}

@media only screen and (min-width: 768px) {
  #contact {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  #contact {
    display: inline-grid;
    flex: 1;
    flex-direction: row;
    padding: 10px;
  }
}

/* GRID SECTION */

.gallery {
  display: grid;
  grid-template-rows: auto auto auto; 
  grid-template-columns: auto auto auto;
  grid-column-gap: 0.3rem;
  grid-row-gap: 0.3rem;
  grid-template-areas: 
    "gallery1 gallery2 gallery3"
    "gallery1 gallery2 gallery3"
    "gallery1 gallery2 gallery3";
  margin: 30px 30px;
}

.gallery-1 {
  grid-area: gallery1;
}

.gallery-2 {
  grid-area: gallery2;
}

.gallery-3 {
  grid-area: gallery3;
}

@media only screen and (min-width: 320px) {
  .gallery {
    display: grid;
    grid-template-rows: auto; 
    grid-template-columns: auto;
    grid-column-gap: 0.3rem;
    grid-row-gap: 0.3rem;
    grid-template-areas: 
      "gallery1"
      "gallery2"
      "gallery3";
    margin: 30px 30px;
  }
}

@media only screen and (min-width: 768px) {
  .gallery {
    display: grid;
    grid-template-rows: auto; 
    grid-template-columns: auto;
    grid-column-gap: 0.3rem;
    grid-row-gap: 0.3rem;
    grid-template-areas: 
      "gallery1"
      "gallery2"
      "gallery3";
    margin: 30px 30px;
  }
}

@media only screen and (min-width: 1024px)  {
  .gallery {
    display: grid;
    grid-template-rows: auto auto auto; 
    grid-template-columns: auto auto auto;
    grid-column-gap: 0.3rem;
    grid-row-gap: 0.3rem;
    grid-template-areas: 
      "gallery1 gallery2 gallery3"
      "gallery1 gallery2 gallery3"
      "gallery1 gallery2 gallery3";
    margin: 30px 30px;
  }
}

/* ANIMATION */

.zoom {
  transition: transform 0.4s;
  width: 100%;
  height: auto;
  margin: 0 auto;

}

.zoom:hover {
  transform: scale(1.1);
  border-radius: 5px;
}

