// Contact section
.contact {
  position: center;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  &__letter {
    font-weight:500;
    color: rgb(34, 34, 34);
    text-transform: none;
  }
}

// section
.sectionContact {
  padding-bottom: 175px;;
}