// sheet
.sheet {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  background-color:transparent;
  border: 0px;

  &__img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }

  &__body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
  }

  &__text {
    margin-bottom: 0;

    &-fancy {
      @include t-none;
      font-family: $font-family-1;
      font-weight: medium;
      color: $color-black;
      letter-spacing: 15px;
      transition: all 0.3s ease-in-out;
    
      &:hover {
        color: $color-red;
        font-weight: 700;
        @include t-linethrough;
      }
    }
  }
}

// sticky
.sticky {
  position: sticky;
  top: 0;
  z-index: 1020;
}

// carousel
.carousel-img {
  &__size {
    @include w(100%);
    height: 50%;
  }
}

// Text
.text {
  font-weight: bold;

  &-rainbow {
    font-weight: bolder;
    background-image: linear-gradient(to right, 
    $color-red,
    $color-orange,
    $color-yellow,
    $color-green,
    $color-blue,
    $color-purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-underline {
    @include t-underline;
  }
}