//SECTION
.section {
  padding: 100px 0;
}

//CONTAINEER
.container{
  padding: 0 30px;
}

// ROW
.row {
  margin-bottom: -30px;
}

// background colors
.bg-black {
  background-color: black;
}

// 404
.noFound {
  padding: 49.5px 0;
}

// width
.w-35 {
  width: 35% !important;
}

@media only screen and (min-width:320px) {
  .w-35 {
    width: 100px !important;
  }
}

@media only screen and (min-width:768px) {
  .w-35 {
    width: 35% !important;
  }
}