$page:
"__contact" "contact",
"__404" "404",
"__about" "us",
"__music" "music",
"__gallery" "gallery";

// background contact
.bgPages {
  position: top;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;

  @each $bemName, $name in $page {
    &#{$bemName}{ 
      background-image: url("../img/#{$name}.jpg");
    }
  }
}