//Text decoration
@mixin t-none {
  text-decoration: none;
}

@mixin t-overline {
  text-decoration: overline;
}

@mixin t-linethrough {
  text-decoration: line-through;
}

@mixin t-underline {
  text-decoration: underline;
}

// Width
@mixin w ($width) {
  width: $width;
}

// transitions
@mixin transition($transition) {
  -webkit-transition: $transition;
  transition:         $transition;
}

// transforms
@mixin transform($transform) {
  -webkit-transform: $transform;
  transform:         $transform;
}